# MinIO Root Credentials
MINIO_HOST="minio-host"
MINIO_PORT="minio-port"
MINIO_ACCESS_KEY="minio-access-key"
MINIO_SECRET_KEY="minio-secret-key"
MINIO_BUCKET_NAME="minio-bucket-name"

SENTINEL2_GRIDS_FILE="path-to-sentinel2-grids-file"