# MinIO Root Credentials
MINIO_HOST="minio-host"
MINIO_PORT="minio-port"
MINIO_ACCESS_KEY="minio-access-key"
MINIO_SECRET_KEY="minio-secret-key"
MINIO_BUCKET_NAME="minio-bucket-name"

ASDATA_MINIO_ACCESS_KEY="asdata-minio-access-key"
ASDATA_MINIO_SECRET_KEY="asdata-minio-secret-key"
ASDATA_MINIO_BUCKET_NAME="asdata-minio-bucket-name"

SENTINEL2_GRIDS_FILE="path-to-sentinel2-grids-file"

API_KEY = "Cr0p4ndM3rg3S3rv1c3"
